<h1 class="animated fadeIn fast">Sobre Comica</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ea suscipit quidem accusamus illum quod corrupti harum dolor, sint praesentium sed dolorum natus reprehenderit. Placeat quod odio aspernatur magni voluptatum! Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Facilis quo ut eum odit placeat, itaque quos cupiditate? Commodi, aliquid. Alias, modi sapiente nesciunt quam adipisci ipsam suscipit incidunt sunt vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod fuga officiis
    autem debitis eveniet at doloremque vel laborum vitae ab tempore excepturi modi deserunt ad minima iusto expedita, dolor id!

</p>